* {
    box-sizing: border-box;
    font-family: 'Francois One', sans-serif;
}

p {
    color: white;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

a :visited {
    color: rgb(0, 108, 158);
}

a :hover, a:active, a:focus {
    color: rgb(0, 108, 158);
}

body {
    width: 80%;
    margin: 0 auto;
        background: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%));
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    background-image: url(Group2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-repeat: round;
    padding-block-end: 2rem;
    background-attachment: fixed;
}

header img {
    margin-left: 1rem;
}

nav {
    justify-content: space-evenly;
    grid-column: 1 / 4;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 1rem 1rem;
}

.cart {
    justify-self: end;
}

h1 {
    justify-self: center;
    color: rgb(0, 0, 0);
}

li {
    background-color: white;
    border-radius: 1rem;
}


.merch_shop{
display: grid;
grid-template-columns: 33% 33% 33%;
justify-items: center;
padding-top: 5rem;
}

h2{
    grid-column: 1 / 4;
    text-align: center; 
    margin-block-end: 4rem
}

#tshirt img, #longsleeve img, #hoodie img{
    height: 20rem;
    width: 20rem;
}

.buy ul {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    list-style: none;
    text-align: center;
    justify-items: left;    
    justify-content: center;
    padding-bottom: 5rem;
}

.buy li {
    width: 7rem; 
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

article {
        background: linear-gradient(181deg, rgba(210, 210, 210, 0.01) 0%, rgba(210, 210, 210, 0.01) 12.5%,rgba(156, 156, 156, 0.01) 12.5%, rgba(156, 156, 156, 0.01) 25%,rgba(90, 90, 90, 0.01) 25%, rgba(90, 90, 90, 0.01) 37.5%,rgba(11, 11, 11, 0.01) 37.5%, rgba(11, 11, 11, 0.01) 50%,rgba(53, 53, 53, 0.01) 50%, rgba(53, 53, 53, 0.01) 62.5%,rgba(115, 115, 115, 0.01) 62.5%, rgba(115, 115, 115, 0.01) 75%,rgba(34, 34, 34, 0.01) 75%, rgba(34, 34, 34, 0.01) 87.5%,rgba(110, 110, 110, 0.01) 87.5%, rgba(110, 110, 110, 0.01) 100%),linear-gradient(120deg, rgba(197, 197, 197, 0.03) 0%, rgba(197, 197, 197, 0.03) 12.5%,rgba(16, 16, 16, 0.03) 12.5%, rgba(16, 16, 16, 0.03) 25%,rgba(44, 44, 44, 0.03) 25%, rgba(44, 44, 44, 0.03) 37.5%,rgba(244, 244, 244, 0.03) 37.5%, rgba(244, 244, 244, 0.03) 50%,rgba(88, 88, 88, 0.03) 50%, rgba(88, 88, 88, 0.03) 62.5%,rgba(101, 101, 101, 0.03) 62.5%, rgba(101, 101, 101, 0.03) 75%,rgba(44, 44, 44, 0.03) 75%, rgba(44, 44, 44, 0.03) 87.5%,rgba(212, 212, 212, 0.03) 87.5%, rgba(212, 212, 212, 0.03) 100%),linear-gradient(216deg, rgba(24, 24, 24, 0.02) 0%, rgba(24, 24, 24, 0.02) 20%,rgba(101, 101, 101, 0.02) 20%, rgba(101, 101, 101, 0.02) 40%,rgba(44, 44, 44, 0.02) 40%, rgba(44, 44, 44, 0.02) 60%,rgba(144, 144, 144, 0.02) 60%, rgba(144, 144, 144, 0.02) 80%,rgba(22, 22, 22, 0.02) 80%, rgba(22, 22, 22, 0.02) 100%),linear-gradient(74deg, rgba(211, 211, 211, 0.03) 0%, rgba(211, 211, 211, 0.03) 16.667%,rgba(91, 91, 91, 0.03) 16.667%, rgba(91, 91, 91, 0.03) 33.334%,rgba(14, 14, 14, 0.03) 33.334%, rgba(14, 14, 14, 0.03) 50.001000000000005%,rgba(239, 239, 239, 0.03) 50.001%, rgba(239, 239, 239, 0.03) 66.668%,rgba(250, 250, 250, 0.03) 66.668%, rgba(250, 250, 250, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(74deg, rgba(190, 190, 190, 0.03) 0%, rgba(190, 190, 190, 0.03) 14.286%,rgba(78, 78, 78, 0.03) 14.286%, rgba(78, 78, 78, 0.03) 28.572%,rgba(11, 11, 11, 0.03) 28.572%, rgba(11, 11, 11, 0.03) 42.858%,rgba(77, 77, 77, 0.03) 42.858%, rgba(77, 77, 77, 0.03) 57.144%,rgba(100, 100, 100, 0.03) 57.144%, rgba(100, 100, 100, 0.03) 71.42999999999999%,rgba(179, 179, 179, 0.03) 71.43%, rgba(179, 179, 179, 0.03) 85.71600000000001%,rgba(37, 37, 37, 0.03) 85.716%, rgba(37, 37, 37, 0.03) 100.002%),linear-gradient(72deg, rgba(159, 159, 159, 0.03) 0%, rgba(159, 159, 159, 0.03) 12.5%,rgba(231, 231, 231, 0.03) 12.5%, rgba(231, 231, 231, 0.03) 25%,rgba(26, 26, 26, 0.03) 25%, rgba(26, 26, 26, 0.03) 37.5%,rgba(121, 121, 121, 0.03) 37.5%, rgba(121, 121, 121, 0.03) 50%,rgba(144, 144, 144, 0.03) 50%, rgba(144, 144, 144, 0.03) 62.5%,rgba(211, 211, 211, 0.03) 62.5%, rgba(211, 211, 211, 0.03) 75%,rgba(234, 234, 234, 0.03) 75%, rgba(234, 234, 234, 0.03) 87.5%,rgba(224, 224, 224, 0.03) 87.5%, rgba(224, 224, 224, 0.03) 100%),linear-gradient(279deg, rgba(113, 113, 113, 0.01) 0%, rgba(113, 113, 113, 0.01) 12.5%,rgba(204, 204, 204, 0.01) 12.5%, rgba(204, 204, 204, 0.01) 25%,rgba(164, 164, 164, 0.01) 25%, rgba(164, 164, 164, 0.01) 37.5%,rgba(10, 10, 10, 0.01) 37.5%, rgba(10, 10, 10, 0.01) 50%,rgba(99, 99, 99, 0.01) 50%, rgba(99, 99, 99, 0.01) 62.5%,rgba(186, 186, 186, 0.01) 62.5%, rgba(186, 186, 186, 0.01) 75%,rgba(230, 230, 230, 0.01) 75%, rgba(230, 230, 230, 0.01) 87.5%,rgba(6, 6, 6, 0.01) 87.5%, rgba(6, 6, 6, 0.01) 100%),linear-gradient(11deg, rgba(241, 241, 241, 0.02) 0%, rgba(241, 241, 241, 0.02) 12.5%,rgba(51, 51, 51, 0.02) 12.5%, rgba(51, 51, 51, 0.02) 25%,rgba(101, 101, 101, 0.02) 25%, rgba(101, 101, 101, 0.02) 37.5%,rgba(107, 107, 107, 0.02) 37.5%, rgba(107, 107, 107, 0.02) 50%,rgba(197, 197, 197, 0.02) 50%, rgba(197, 197, 197, 0.02) 62.5%,rgba(226, 226, 226, 0.02) 62.5%, rgba(226, 226, 226, 0.02) 75%,rgba(100, 100, 100, 0.02) 75%, rgba(100, 100, 100, 0.02) 87.5%,rgba(216, 216, 216, 0.02) 87.5%, rgba(216, 216, 216, 0.02) 100%),linear-gradient(90deg, hsl(178,0%,46%),hsl(178,0%,46%));
     background-attachment: fixed;
}

footer {
    text-align: center;
    background: linear-gradient(219deg, rgba(246, 246, 246, 0.02) 0%, rgba(246, 246, 246, 0.02) 20%,rgba(225, 225, 225, 0.02) 20%, rgba(225, 225, 225, 0.02) 40%,rgba(136, 136, 136, 0.02) 40%, rgba(136, 136, 136, 0.02) 60%,rgba(216, 216, 216, 0.02) 60%, rgba(216, 216, 216, 0.02) 80%,rgba(35, 35, 35, 0.02) 80%, rgba(35, 35, 35, 0.02) 100%),linear-gradient(299deg, rgba(213, 213, 213, 0.02) 0%, rgba(213, 213, 213, 0.02) 20%,rgba(150, 150, 150, 0.02) 20%, rgba(150, 150, 150, 0.02) 40%,rgba(161, 161, 161, 0.02) 40%, rgba(161, 161, 161, 0.02) 60%,rgba(186, 186, 186, 0.02) 60%, rgba(186, 186, 186, 0.02) 80%,rgba(28, 28, 28, 0.02) 80%, rgba(28, 28, 28, 0.02) 100%),linear-gradient(50deg, rgba(157, 157, 157, 0.02) 0%, rgba(157, 157, 157, 0.02) 16.667%,rgba(147, 147, 147, 0.02) 16.667%, rgba(147, 147, 147, 0.02) 33.334%,rgba(42, 42, 42, 0.02) 33.334%, rgba(42, 42, 42, 0.02) 50.001000000000005%,rgba(214, 214, 214, 0.02) 50.001%, rgba(214, 214, 214, 0.02) 66.668%,rgba(34, 34, 34, 0.02) 66.668%, rgba(34, 34, 34, 0.02) 83.33500000000001%,rgba(211, 211, 211, 0.02) 83.335%, rgba(211, 211, 211, 0.02) 100.002%),linear-gradient(278deg, rgba(79, 79, 79, 0.03) 0%, rgba(79, 79, 79, 0.03) 20%,rgba(217, 217, 217, 0.03) 20%, rgba(217, 217, 217, 0.03) 40%,rgba(5, 5, 5, 0.03) 40%, rgba(5, 5, 5, 0.03) 60%,rgba(200, 200, 200, 0.03) 60%, rgba(200, 200, 200, 0.03) 80%,rgba(125, 125, 125, 0.03) 80%, rgba(125, 125, 125, 0.03) 100%),linear-gradient(274deg, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 12.5%,rgba(100, 100, 100, 0.03) 12.5%, rgba(100, 100, 100, 0.03) 25%,rgba(44, 44, 44, 0.03) 25%, rgba(44, 44, 44, 0.03) 37.5%,rgba(228, 228, 228, 0.03) 37.5%, rgba(228, 228, 228, 0.03) 50%,rgba(36, 36, 36, 0.03) 50%, rgba(36, 36, 36, 0.03) 62.5%,rgba(72, 72, 72, 0.03) 62.5%, rgba(72, 72, 72, 0.03) 75%,rgba(30, 30, 30, 0.03) 75%, rgba(30, 30, 30, 0.03) 87.5%,rgba(109, 109, 109, 0.03) 87.5%, rgba(109, 109, 109, 0.03) 100%),linear-gradient(90deg, hsl(28,0%,14%),hsl(28,0%,14%));
    
}

footer ul, footer p {
    margin-block-start: 0;
}

/*til at rette footeren*/
footer ul{
    margin-block-start: 0;
}

footer p {
    margin-block-start: 0;
}

footer ul {
    padding-top: 8rem;
    padding-bottom: 2rem;
    margin-block-start: 0; 
}

ul { 
    margin-block-end: 0;
}
/*til at rette footeren*/